.Rhistory
.Rproj.user/C07062DA/pcs/files-pane.pper
.Rproj.user/C07062DA/pcs/source-pane.pper
.Rproj.user/C07062DA/pcs/windowlayoutstate.pper
.Rproj.user/C07062DA/pcs/workbench-pane.pper
.Rproj.user/C07062DA/rmd-outputs
.Rproj.user/C07062DA/saved_source_markers
.Rproj.user/C07062DA/sdb/per/t/E0546DC8
.Rproj.user/C07062DA/sdb/prop/F7652C33
.Rproj.user/C07062DA/sdb/prop/INDEX
.Rproj.user/C07062DA/session-persistent-state
.Rproj.user/shared/notebooks/paths
#
